<ion-content padding text-center class="login-front" >
	<div class="content-login-page">
		<ion-img
			height="200"
			width="200"
			class="img-logo"
			src="../../assets/imgs/logo.png"
		></ion-img>
		<form [formGroup]="formLogin" (ngSubmit)="saveData()">
			<ion-item>
				<!-- <ion-icon name="mail" item-start></ion-icon> -->
				<ion-label stacked>Correo electronico:</ion-label>
				<ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
			</ion-item>
			<ion-item *ngIf="formLogin.get('email').errors && formLogin.get('email').dirty">
		      <p color="danger" ion-text *ngIf="formLogin.get('email').hasError('required')">Campo Requerido</p>
		      <p color="danger" ion-text *ngIf="formLogin.get('email').hasError('email')">No es un correo válido</p>
		    </ion-item>
			<ion-item>
				<!-- <ion-icon name="person" item-start></ion-icon> -->
				<ion-label stacked>Contraseña:</ion-label>
				<ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
			</ion-item>
			<ion-item *ngIf="formLogin.get('password').errors && formLogin.get('password').dirty">
		      <p color="danger" ion-text *ngIf="formLogin.get('password').hasError('required')">Campo Requerido</p>
		      <p color="danger" ion-text *ngIf="formLogin.get('password').hasError('pattern')">No es una contraseña fuerte</p>
		    </ion-item>
				
			<button large round [disabled]="!this.formLogin.valid" ion-button outline (click)="login()" >Iniciar Sesión</button>
		</form>
	</div>
</ion-content>

<ion-footer *ngIf="!this.client.client" (click)="toRegister()" >
  <ion-toolbar>
    <p>¿Eres nuevo por aquí? Ven y recibe mas beneficios y descuentos. <strong>Registrate</strong> </p>
  </ion-toolbar>
</ion-footer>
