page-login {
	background-image: url('../../assets/imgs/src_imgFondo4.jpg');
	background-size: 130%;
	.content-login-page{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

	}

	.img-logo{
		background-color: transparent;
		// padding: 20px;
		// border-radius: 20px;
	}

	.login-front{
		position: absolute;
		height: 100vh;
		width:100vw;
		background-color: transparent;
	}

	.item-md, .item-ios, .item-wp{
		background-color: transparent;
	}
	.text-input, .label, .label.md, .label-wp {
		color: #fff!important;
	}
	.scroll-content{
		padding-bottom: 0px!important;
	}

	ion-footer ion-toolbar {
		text-align: center;
		*{
			color: white !important;
		}
	}

	form{
		height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

	}
	button{
		border-color: white !important;
		width: 80%;
		border-width: 2px !important;
	}
}
