page-register {
	.content-register-page{
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		text-align: center;
	}
	form{
		height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		div{
			button{
				background-color: rgba(126,0,236,1) !important;
				color: white;
			}
		}
	}
}
