<ion-header>
  <ion-navbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content
  padding
  text-center
  class="card-background-page"
  >
  <ion-card *ngFor="let post of this.favorites.favorites" (click)="onClickCard(post)" >
    <img 
      src="{{this.API.GetURLImage()}}/{{post.fileImg}}"
      />
    <div class="degradate-black" ></div>
    <div class="card-title">{{post.namePost}}</div>
    <div class="card-subtitle">{{post.nameUser}}</div>
  </ion-card>
</ion-content>
