page-home {

	.img-logo{
		background: transparent;
	}

	.card-background-page {
		ion-card {
		    position: relative;
		    text-align: center;
		    max-height: 200px;
		    img{
		    	height: 100%;
		    	object-fit: cover;
		    }
		}

		.degradate-black{
			position: absolute;
			top: 0%;
			height: 100%;
			width: 100%;
			background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.55)), color-stop(100%, rgba(18,18,18,1)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
		}

		.card-title {
		    position: absolute;
		    top: 22%;
		    font-size: 1.8em;
		    width: 100%;
		    font-weight: bold;
		    color: #fff;
		}

		.card-subtitle {
		    font-size: 1.0em;
		    position: absolute;
		    top: 70%;
		    width: 100%;
		    color: #fff;
		}
	}

	.fab-buttom-eye{
		background-color: #B300E6;
		color: white;
	}

	.buttom-fab-grid{
		background-color: #9B00E3;
		color: white;
	}

	.list-cards-double{
		margin-top: 10px;
		height: 100%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		color: #333333 !important;
		ion-card{
			margin: 0 auto;
			width: 45%;
			.content-img-card-double{
				height: 50%;
				width: 100%;
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
				img{
					object-fit: cover;
					height: 100%;
				}
			}

			.title-card-double{
				font-size: 1.35rem;
				font-weight: 600;
			}
			.sub-title-card-double{
				margin-top: 10px;
				font-size: 1rem;
			}
		}
	}
}
