// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


#menuContentCategory{
	background: rgba(126,0,236,1);
		background: -moz-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(126,0,236,1)), color-stop(100%, rgba(170,0,222,1)));
		background: -webkit-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: -o-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: -ms-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: linear-gradient(to bottom, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e00ec', endColorstr='#aa00de', GradientType=0 );
	* {
		background: transparent !important;
		color: white !important;
		font-weight: 600;
	}
}

.toolbar-background{
	background-color: #7C00EC !important;
}

ion-navbar * {
	color: white !important;
}