<ion-content padding text-center class="welcome-front" >
	<div id="contenedor-welcome" >
		<ion-img
			height="200"
			width="200"
			class="img-logo"
			src="../../assets/imgs/logo.png"
		></ion-img>
		<ion-item class="select-city" >
		    <ion-label>Ciudad</ion-label>
		    <ion-select
		    	(ionChange)="onChangeCity()"
		    	[(ngModel)]="citySelected">
			    <ion-option *ngFor="let city of cities" [value]="city.id" >
		          {{city.name}}
		        </ion-option>
		    </ion-select>
		</ion-item>
		<button large round [disabled]="!this.citySelected" ion-button outline (click)=run() >
		  	GO
		</button>
	</div>
</ion-content>/

<ion-footer *ngIf="!this.clientProv.client" (click)="toLogin()" >
  <ion-toolbar>
    <p>¿Eres nuevo por aquí? Ven y recibe mas beneficios y descuentos. <strong>Registrate</strong> </p>
  </ion-toolbar>
</ion-footer>