page-welcome {
	background: rgba(126,0,236,1);
		background: -moz-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(126,0,236,1)), color-stop(100%, rgba(170,0,222,1)));
		background: -webkit-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: -o-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: -ms-linear-gradient(top, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		background: linear-gradient(to bottom, rgba(126,0,236,1) 0%, rgba(170,0,222,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e00ec', endColorstr='#aa00de', GradientType=0 );
	#contenedor-welcome{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		* {
			color: white !important;
		}
	}

	.select-city{
		background: transparent;
	}

	.welcome-front{
		position: absolute;
		height: 100vh;
		width:100vw;
		background-color: transparent;
	}

	.img-logo{
		background-color: white;
		padding: 20px;
		border-radius: 20px;
	}

	button{
		border-color: white !important;
		width: 80%;
		border-width: 2px !important;
	}

	ion-footer ion-toolbar {
		text-align: center;
		*{
			color: white !important;
		}
	}
}
